# Backend API URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api

# Mock Mode (set to "true" to use mock data, "false" to use real backend)
NEXT_PUBLIC_MOCK=false

# Demo User (optional)
NEXT_PUBLIC_DEMO_USER_MAIL=admin@kopma.com
NEXT_PUBLIC_DEMO_USER_PASS=admin123
